<section>


<div class = "thread">
	<h1><%= @thread["topics_id"]%></h1>
	<h1><%= @thread["title"]%></h1>
	<p><%= @thread["msg"]%><p>
	<p><%= @thread["username"]%></p>
	<p><%= @thread["votes"]%><p>
</div>
</section>

<section>
	<form class="comment" action="/threads/<%= @thread_id %>" method="post">
		<div class="input-row">
			<label for="msg">Msg: </label>
			<input type="text" name="msg" />
		</div>
		<div class="input-row">
			<label for="username">Username: </label>
			<input type="text" name="username" />
		</div>

		<div class="input-row">
		<input type="submit" value="submit" />
		</div>	
	</form>
</section>	

<section>
<form class="vote" action="/threads/<%= @thread_id %>" method="post">
	<label for="up_votes">up_votes</label>
	<input type="hidden" name="_method" value="put"/>  
	<input type="submit" name="up_votes" value="YES!" />
	<input type="submit" name="up_votes" value="NO!" />
</form>
</section>

<section class="comments">
<% @all_comments.each do |comment| %>
	<p><%= comment["msg"] %></p>
	<p><%= comment["username"] %></p>
<%end%>
</section>